.container {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.toggle-switch {
  margin:20px 0px;
}
.toggle-switch label {
  position:relative;
  display:block;
  width:40px;
  height:15px;
  background:#ddd;
  cursor:pointer;
  border-radius:5px;
  transition:all 300ms ease-in-out;
}
.toggle-switch label:after {
  content:"";
  position:absolute;
  width:20px;
  height:20px;
  background:#eee;
  top:50%;
  left:0px;
  transform:translateY(-50%);
  border-radius:50%;
  box-shadow:inset 0px 0px 1px 1px #ddd;
  transition:all 300ms ease-in-out;
}
.toggle-switch input:checked + label:after {
  left:calc(40px - 20px);
  background:rgb(157,213,255);
}

.toggle-switch input {
  display:none;
}


